#Options +SymLinksIfOwnerMatch
RewriteEngine on

#RewriteCond %{HTTP_HOST} ^mifolkloreargentino.com [NC]
#RewriteRule ^(.*)$ https://mifolkloreargentino.com/$1 [L,R=301]

#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

RewriteCond $1 !^(index\.php|assets|captcha|robots\.txt|sitemap\.xml|ads\.txt|favicon\.ico)
RewriteRule ^(.*)$ index.php/$1 [L]


<IfModule mod_expires.c>
  ExpiresActive On

  # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  # Others
  ExpiresByType application/pdf "access plus 1 month"
  ExpiresByType application/x-shockwave-flash "access plus 1 month"
</IfModule>


Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-a.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-b.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-c.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-d.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-e.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-f.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-g.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-h.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-i.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-j.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-k.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-l.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-m.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-n.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-o.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-p.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-q.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-r.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-s.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-t.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-u.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-v.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-w.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-x.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-y.html https://www.mifolkloreargentino.com/letras-de-canciones
Redirect 301 /letras-de-canciones-del-folklore-argentino-con-letra-z.html https://www.mifolkloreargentino.com/letras-de-canciones

###################################
##  Directorio gral Letras
  
RedirectMatch 301 ^/letras-de-canciones-del-folklore-argentino/(.*)$  https://www.mifolkloreargentino.com/letras-de-canciones
RedirectMatch 301 ^/letras-de-canciones-de-/(.*)$  https://www.mifolkloreargentino.com/letras-de-canciones
RedirectMatch 301 ^/letras-de-canciones-folkloricas/(.*)$  https://www.mifolkloreargentino.com/letras-de-canciones
RedirectMatch 301 ^/letras-de-canciones-del-folklore/(.*)$  https://www.mifolkloreargentino.com/letras-de-canciones	
RedirectMatch 301 ^/canciones-con-letra/(.*)$  https://www.mifolkloreargentino.com/letras-de-canciones		

###################################
##  Directorio gral Comidas
RedirectMatch 301 ^/comidas-tipicas-del-folklore-argentino/(.*)$  https://www.mifolkloreargentino.com/recetas-de-comidas-tipicas
RedirectMatch 301 ^/tag/comidas/(.*)$  https://www.mifolkloreargentino.com/recetas-de-comidas-tipicas
RedirectMatch 301 /tag/comida/ https://www.mifolkloreargentino.com/recetas-de-comidas-tipicas
RedirectMatch 301 /tag/tipicas/ https://www.mifolkloreargentino.com/recetas-de-comidas-tipicas	

###################################
##  Redirect Letras x Interpretes
###################################
# Paginas
Redirect 301 /letras-de-canciones/48-los-chalchaleros.html https://www.mifolkloreargentino.com/letras-de-canciones-de-los-chalchaleros
Redirect 301 /letras-de-canciones/33-chaqueno-palavecino.html https://www.mifolkloreargentino.com/letras-de-canciones-de-chaqueno-palavecino

###################################
##  Redirect A la principal
###################################
# Paginas
RedirectMatch 301 /tag/argentino/ https://www.mifolkloreargentino.com
RedirectMatch 301 /tag/chamame/ https://www.mifolkloreargentino.com
RedirectMatch 301 /tag/folclore/ https://www.mifolkloreargentino.com
RedirectMatch 301 /tag/musica/ https://www.mifolkloreargentino.com

RedirectMatch 301 /tag/biografias/ https://www.mifolkloreargentino.com/biografias
RedirectMatch 301 /autores-y-compositores-del-folklore-argentino/ https://www.mifolkloreargentino.com/biografias

RedirectMatch 301 /mitos-y-leyendas-del-folklore-argentino/ https://www.mifolkloreargentino.com/mitos-y-leyendas
###################################
# Directorios

RedirectMatch 301 ^/letras-de-canciones/abel-pintos/(.*)$  https://www.mifolkloreargentino.com/letras-de-canciones-de-abel-pintos
RedirectMatch 301 ^/letras-de-canciones/pastorutti-soledad/(.*)$  https://www.mifolkloreargentino.com/letras-de-canciones-de-soledad-pastorutti